services:
  ms-pagos:
    image: ms-pagos:v1.0.0
    ports:
      - "5002:5002"
    networks:
      - mired
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=${FLASK_ENV:-production}
      - FLASK_DEBUG=${FLASK_DEBUG:-0}

networks:
  mired:
    external: true
